<div>
<hr>
<div>
&copy; {{ site.copyright }} --- {{ site.author }} --- Revision: {{ site.version }}.
<br>You should follow the <b>terms and conditions</b> of these following links:
<ul>
<li><a href="https://www.charlesdickenspage.com/">https://www.charlesdickenspage.com/</a></li>
<li><a href="https://www.gutenberg.org/files/883/883-h/883-h.htm">https://www.gutenberg.org/files/883/883-h/883-h.htm</a></li>
<li><a href="https://www.paulmccartney.com/albums/songs/jenny-wren">https://www.paulmccartney.com/albums/songs/jenny-wren</a></li>
</ul>
This webpages is just humorous intention of fighting the 2020-2021 lockdown boredom.
I believe this is <b>FAIR USE</b>, but I am not a lawyer.
My apology to Sir Paul McCartney and Charles Dickens, duh!
</div>
<hr>
<br>
</div>

